
/*RGB Colors:
Based off of:;
Apricot - #fbceb1    (very soft orange)

#fbceb1 - very soft orange   rgb(251,206,177)  / rgba(251, 206, 177, 0.5)
#fbb1b9 - very soft red   rgb(251,177,185)  / rgba(251,177,185, 0.5)
#fbf3b1 - very soft yellow rgb(251,243,177)  / rgba(251,243,177, 0.5)
#b1b9fb - very soft blue  rgb(177,185,251)  / rgba(177,185,251, 0.5)
#b9fbb1 - very soft green rgb(185,251,177)  / rgba(185,251,177, 0.5)

*/




					/* Utilities */

.clearfix:before, .container:after { 
  content: ""; 
  display: table; 
}  
.clearfix:after { 
  clear: both; 
}  
/*  End Basic Utilities */



   /* Setting font sizes once and for all */
   
body {
	font-size: .75em;
}

h1 { 
	font-size: 2.074em;
}

h2 { 
	font-size: 1.728em; 
}

h3 { 
	font-size: 1.44em; 
}

h4 { 
	font-size: 1.2em; 
}
	/*End font sizing */

/* Setting the Responsive Background image */

body { 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #fff;
    width: 1400px;
    overflow: hidden;
    
  }

.page {
  width: 80%;
  height: 750px;
  margin: 0 auto;
  background: #F9EDE5;
font-style: italic;
line-height: 1.5;
font-weight: bold;
color: #5668ef;
text-decoration: none;
-webkit-border-radius: .626em;
-moz-border-radius: .626em;
border-radius: .626em;
padding:.626em;
border: 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
-moz-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
box-shadow: 0px 0px 8px rgba(204, 207, 188, 1); 
}



.success{
    margin: 100px auto;
    float: left;
    width: 600px;
    height: 100px;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    /* Rotate div */
    -ms-transform: rotate(-25deg)  skewX(25deg) ; /* IE 9 */
    -webkit-transform: rotate(-25deg)  skewX(25deg) ; /* Chrome, Safari, Opera */
    transform: rotate(-25deg) skewX(25deg); 
}


transform: rotate(80deg) skew(20deg);




 @media only screen and (min-width: 90em) {
      body { 
    background-color: #fff; 
        width: 100%;
      }
  }
@media only screen and (max-width: 30em) {
      body { 
    
    width: 100%;
      }
  }

  /* End Main page Background */


  footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   padding-bottom: 20px;
}
  
 

   

@media screen and (min-width: 1400px) {
  html { 
    font-size: 1.25em; 
  }
}






