
/*RGB Colors:
Based off of:;
Apricot - #fbceb1    (very soft orange)

#fbceb1 - very soft orange   rgb(251,206,177)  / rgba(251, 206, 177, 0.5)
#fbb1b9 - very soft red   rgb(251,177,185)  / rgba(251,177,185, 0.5)
#fbf3b1 - very soft yellow rgb(251,243,177)  / rgba(251,243,177, 0.5)
#b1b9fb - very soft blue  rgb(177,185,251)  / rgba(177,185,251, 0.5)
#b9fbb1 - very soft green rgb(185,251,177)  / rgba(185,251,177, 0.5)

*/
					
   /* Setting font sizes once and for all */
   
body {
	font-size: .75em;
}

h1 { 
	font-size: 2.074em;
}

h2 { 
	font-size: 1.728em; 
}

	/*End font sizing */

html {
  box-sizing: border-box;  
}

*, *:before, *:after {
  box-sizing: inherit;  
}


body { 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #fff;
    width: 1400px;
    overflow: hidden;    
  }

.page {
  width: 80%;
  height: 46.875em;
  margin: 5% auto;
  background: #f9ede5;
  position: relative;
  font-style: italic;
  line-height: 1.5;
  font-weight: bold;
  color: #5668ef;
  text-decoration: none;
  -webkit-border-radius: .626em;
  -moz-border-radius: .626em;
  border-radius: .626em;
  padding:.626em;
  border: 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
  -moz-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
  box-shadow: 0px 0px 8px rgba(204, 207, 188, 1); 
  overflow: hidden;
}

.success{
  position: absolute;
    margin: 100px auto;
    float: left;
    width: 600px;
    height: 100px;
    background-color: green;
    -webkit-animation: pulse 40s infinite alternate; 
    -moz-animation: pulse 40s infinite alternate; 
    animation: pulse 40s infinite alternate;
    color: white;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    -ms-transform: rotate(-25deg)  skewX(25deg) ; /* IE 9 */
    -webkit-transform: rotate(-25deg)  skewX(25deg) ; /* Chrome, Safari, Opera */
    transform: rotate(-25deg) skewX(25deg);
    border: 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
    -moz-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
    box-shadow: 0px 0px 8px rgba(204, 207, 188, 1); 
  }

@-webkit-keyframes pulse { 
  0% {background-color: green;} 
  25% {background-color: #fbb1b9;} 
  50% {background-color: #fbf3b1;} 
  75% {background-color: #b1b9fb;} 
  100% {background-color: #d8cab4;} 
} 

.thanks {  
  background-color: #fcfbE3;
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: .626em;
  -moz-border-radius: .626em;
  border-radius: .626em;
  padding:.626em;
  border: 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
  -moz-box-shadow: 0px 0px 8px rgba(204, 207, 188, 1);
  box-shadow: 0px 0px 8px rgba(204, 207, 188, 1); 
}

.thanks h1:hover {
  transform: scale(2);
  color: red;
  -webkit-text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -moz-text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

footer {
   position:fixed;
   left:8.313em;
   bottom:.625em; 
   height:1.875em;
   width:80%;
  text-align: center;
}

 


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
body {
  max-width: 64em;
  margin: 0 auto;
}

.success{
display: none;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
html { 
    font-size: 1.25em; 
  }
}


/* smartphones */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  html {
    float: none;
  }
.success {
  display: none;
}
body {
  max-width: 320px;
  margin: 0 auto;
  }
}






