border-style: double;
border-color: #00A12E;
border-width: .313em;
border-radius: 1%;
box-shadow: .156em .156em .094em #003B11;


body {
	font: normal 100%  Verdana, Courier, Arial;
	line-height: 1.5;
	color: #272635;
	background: #fff;
	max-width: 960px;
	margin: 0 auto;
	
	}
	
header {
	
	width: 100%;
	margin: 0 auto;
	}