/*defaults*/
body,
html, blockquote {
  margin:0;
  padding:0;
  line-height: 1.5;
  color:#939393;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(236,236,236,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(236,236,236,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(236,236,236,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(236,236,236,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(236,236,236,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(236,236,236,0) 100%); /* W3C */
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;  }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
 /* heading styles */
 h1,h2,h3{  
    -webkit-text-stroke: 1px #d3d3d3;
   color: white;
   text-shadow:
       3px 3px 0 rgba(105,105,105, 0.5),
     -1px -1px 0 rgba(105,105,105, 0.5),  
      1px -1px 0 rgba(105,105,105, 0.5),
      -1px 1px 0 rgba(105,105,105, 0.5),
       1px 1px 0 rgba(105,105,105, 0.5);  
    text-decoration: none;
    color: #fff; 
}  
/*heading defaults*/
h1{  
    font-size: 2.6em;  
    line-height: 2.45em;  
}  
h2{  
    font-size: 2.1em;  
    line-height: 1.9em; 
}  
h3{  
    font-size: 1.8em;  
    line-height: 1.65em;  
}  
/*beginning of page layout */
#wrap {
  width:90%;
  margin:0 auto;
  background:#2e2e2e;
}
/*First Column*/
#main {  
  width: 60%;
  margin: 0 auto;
  float:left;
}
header {
  margin-top: 1.250em;
}
video {
  max-width: 33.750em;
  margin-top:1.250em;  
  margin-left: 0.938em;
  margin-right: 2.500em;
  margin-bottom: 1.875em;
  float: left;
  -webkit-box-shadow:
            0px 0px 0px 0.125em rgba(105,105,105, 0.5),
                0px 0px 0px 0.875em #fff,
                0px 0px 0px 1.125em rgba(105,105,105, 0.2),
                0.375em 0.375em 8px 1.063em #555;
   
     -moz-box-shadow:
            0px 0px 0px 0.125em rgba(105,105,105, 0.5),
                0px 0px 0px 0.875em #fff,
                0px 0px 0px 1.125em rgba(105,105,105, 0.2),
                0.375em 0.375em 8px 1.063em #555;
   
          box-shadow:
            0px 0px 0px 0.125em rgba(105,105,105, 0.5),
                0px 0px 0px 0.875em #fff,
                0px 0px 0px 1.125em rgba(105,105,105, 0.2),
                0.375em 0.375em 8px 1.063em #555;
  -webkit-border-radius: 0.313em;
  -moz-border-radius: 0.313em;
  border-radius: 0.313em;
}
.special {
  text-transform: uppercase;
  color: #fff;
}
#intro {
    margin: 0 auto;
    border-bottom: 0.125em double  #696969;
    padding-bottom: 1.250em;
    padding-right: 1.250em;
    clear: right;    
}
#intro  p{
  margin-left: 3.125em;
  line-height: 1.5em;
}
  /*Navigation*/

#nav h3 {
  display: inline;
  float: left;
}
#nav ul{
  background-color: black;
    overflow: hidden;
    list-style:none;    
    clear: both;
    padding: 0;
    margin: 0;
}
#nav li {
    float: right;
    list-style: none;
    display: inline;    
    margin: 1em;
}
#nav li a {    
    display: block;   
   text-shadow:
       3px 3px 0 rgba(105,105,105, 0.5),
     -1px -1px 0 rgba(105,105,105, 0.5),  
      1px -1px 0 rgba(105,105,105, 0.5),
      -1px 1px 0 rgba(105,105,105, 0.5),
       1px 1px 0 rgba(105,105,105, 0.5);  
    text-decoration: none;
    color: #fff;
    border: 0.1em solid #dcdce9;
    -webkit-border-radius: 0.625em;
    -moz-border-radius: 0.625em;
    border-radius: 0.625em;
    padding: 0.313em;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */     
    margin-top: 0.67em;
    margin-right: 0px;
    margin-bottom: 0.67em;
    margin-left: 1.250em;
    font-size: 1.6em;
    
}
#nav li a:hover {
    margin-top: 0.125em;
    color: #0f0f0f;
    -ms-transform: scale(1,2); /* IE 9 */
    -webkit-transform: scale(1,2); /* Chrome, Safari, Opera */
    transform: scale(1.25);
}
a:link {
  color: #fff;
  text-decoration: underline;
}
a:hover, a:visited{
  color: green;
}
/* Category Sections */
section {  
    padding:0.313em;
    margin-top:0.938em;
    clear: both;
}
section h1 {
  text-align: center;
  margin-bottom:3em;
  letter-spacing: 0.313em;
  -webkit-transform: matrix(2, -0.535898384862245, -0.35265396141693, 2, 0, 0);
  -moz-transform: matrix(2, -0.535898384862245, -0.35265396141693, 2, 0, 0);
  transform: matrix(2, -0.535898384862245, -0.35265396141693, 2, 0, 0);
}
 /*Image Styling for Section Galleries*/
 .gallery {
  border:0.125em solid #d9d9d9;  
  -webkit-box-shadow: 0.625em 0.625em 0.313em 0px rgba(105,105,105, 0.5);
  -moz-box-shadow: 0.625em 0.625em 0.313em 0px rgba(105,105,105, 0.5);
  box-shadow: 0.625em 0.625em 0.313em 0px rgba(105,105,105, 0.5);
  background-color: #fff;
  width: auto;
  float: left;
  position: relative;  
  vertical-align: middle;
  -webkit-border-radius: 1.875em;
  -moz-border-radius: 1.875em;
  border-radius: 1.875em;
}
.img {
    position: relative;
    float: left;
    margin:0.625em;
    width: 12.500em; height: 12.500em;
    display: inline-block;
    width:  12.500em;
    height: 12.500em;
    border: 2px solid #696969;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
    -webkit-box-shadow:
            inset 0 0 3.125em #696969,
                inset 0 0 3.125em #696969,
                inset 0 0 3.125em #696969;
   
     -moz-box-shadow:
            inset 0 0 3.125em #696969,
                inset 0 0 3.125em #696969,
                inset 0 0 3.125em #696969;
   
          box-shadow:
            inset 0 0 3.125em #696969,
                inset 0 0 3.125em #696969,
                inset 0 0 3.125em #696969;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
}

/*Special Styling for Each Section main image */
.img.polaroid {  
    border:solid #fff;  
    margin-right: 2.500em;
    margin-bottom: 0.625em;
    border-width:0.375em 0.375em 1.250em 0.375em;  
    box-shadow:1px 1px 0.625em #333;   
    -webkit-box-shadow:1px 1px 0.313em #696969;  
    -moz-box-shadow:1px 1px 0.313em #696969;  
    height:12.500em; 
    width:12.500em; 
}  
article > h1:nth-child(1), blockquote::before, h2#introQuotes, caption{
  text-align: center;
  -webkit-text-stroke: 1px #d3d3d3;
   color: white;
   text-shadow:
       3px 3px 0 rgba(105,105,105, 0.5),
     -1px -1px 0 rgba(105,105,105, 0.5),  
      1px -1px 0 rgba(105,105,105, 0.5),
      -1px 1px 0 rgba(105,105,105, 0.5),
       1px 1px 0 rgba(105,105,105, 0.5);  
  font-size:2.5em;
}
p.last {
  margin-bottom: 1.875em;
  clear: right;
}
.location {
  float:left;
  position: relative;
  padding-left:1.250em;
  margin-bottom: 2.500em;
  margin-top:1.250em;
}
/*Second Column*/
aside {
  width: 30%;
  margin: 0 auto;
  float: right;
}
#quoteGallery {
    width:100%;
}
blockquote{
  display:block;
  background: #fff;
  padding: 0.938em 1.250em 0.938em 45px;
  margin: 0 1.250em 1.250em;
  position: relative;
  text-align: justify;
  -webkit-border-radius: 1.875em;
  -moz-border-radius: 1.875em;
  border-radius: 1.875em;
  border-top: 0.938em solid #696969;
  border-bottom: 0.938em solid #696969;
  border-left: 0.938em solid #696969;
  border-right: 0.125em solid #696969;
  -moz-box-shadow: 0.125em 0.125em 0.938em #ccc;
  -webkit-box-shadow: 0.125em 0.125em 0.938em #ccc;
  box-shadow: 0.125em 0.125em 0.938em #ccc;  
}
blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  /*Positioning*/
  position: absolute;
  left: 0.625em;
  top:0.313em;
}
blockquote::after{
  /*Reset to make sure*/
  content: "";
}
#listing {
  border-collapse: collapse;
  background-color: #fff;  
  border:3px #696969;
  border-radius: 30px;
  margin: 25em 1.250em 1.250em;
  width: 90%;
  position: relative;
  -webkit-border-radius: 1.875em;
  -moz-border-radius: 1.875em;
  border-radius: 1.875em;
  border-top: 0.938em solid #696969;
  border-bottom: 0.938em solid #696969;
  border-left: 0.938em solid #696969;
  border-right: 0.125em solid #696969;
  -moz-box-shadow: 0.125em 0.125em 0.938em #ccc;
  -webkit-box-shadow: 0.125em 0.125em 0.938em #ccc;
  box-shadow: 0.125em 0.125em 0.938em #ccc;  
}
table {
  margin: 0 auto;
}
caption {
  font-size:1.5em;
}
td, th, tfoot {
  border: 2px solid #cecece;
  padding: .625em;
  text-align: left;
}
tr:nth-child(even) {
    background-color: #bdbdbd;
    color: #545454;
}
footer {
  clear:both;
  color: #fff;
  background:#cecece;
}

/* Media Queries */

/* Smartphones (portrait and landscape) ----------- */  
@media only screen and (min-width : 320px) and (max-width : 480px) {  
  #nav {   
        height: auto; 
    }  
    #nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    #nav li {  
        width: 100%;  
        float: left;  
        position: relative;  
    }  
    #nav li a {  
        width: 50%;
        display: block;
        border-bottom: 1px solid #576979;  
        border-right: 1px solid #576979;  
        margin: 0 auto;
    }  
section {
  position: relative;
  float: none;
  margin: 0 auto;
}
section h1 {
  text-align: center;
  float: none;
  transform: scale(1);
}

  aside {
    width: 100%;
    float: left;
  } 
  .gallery {
    margin: 0 auto;
    clear: both;
  }
  .img {
    margin: 0.625em 0.625em;
    clear: both;
  }
  h1 {
    text-align: center;
    clear: both;
  }
  video {
    display: none;
  }  
  #listing {
    margin: 1em 1.250em 1.250em;
  }

}  


/* iPads (portrait and landscape) ----------- */  
@media only screen and (min-width : 480px) and (max-width : 900px) {  
 #nav {   
        height: auto; 
    }  
    #nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    #nav li {  
        width: 100%;  
        float: left;  
        position: relative;  
    }  
    #nav li a {  
        width: 50%;
        display: block;
        border-bottom: 1px solid #576979;  
        border-right: 1px solid #576979; 
        margin: 0 auto; 
    }  
  video {
  display: none; 
}  

#main {
  float: none;
  position: relative;
  margin: 0 auto;
}
section {
  position: relative;
  float: none;
  margin: 0 auto;
}
section h1 {
  transform: scale(1.25);
}

aside {
    width: 100%;
    float: left;
  } 
.gallery {
    margin: 0 auto;
    clear: both;
  }
.img {
    margin: 0.625em 0.625em;
    clear: both;
  }
  #listing {
    margin: 1.5em 1.250em 1.250em;
  }
   }

/* Desktops and laptops ----------- */  
@media only screen and (min-width : 901px) and (max-width : 1200px) {  
  #nav {   
        height: auto; 
    }  
    #nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    #nav li {  
        width: 100%;  
        float: left;  
        position: relative;  
    }  
    #nav li a {  
        width: 50%;
        display: block;
        border-bottom: 1px solid #576979;  
        border-right: 1px solid #576979; 
        margin: 0 auto; 
    }  
  video {
  display: none; 
}  

#main {
  float: none;
  position: relative;
  margin: 0 auto;
}
section {
  position: relative;
  float: none;
  margin: 0 auto;
}
section h1 {
  transform: scale(1.25);
}

aside {
    width: 100%;
    float: left;
  } 
.gallery {
    margin: 0 auto;
    clear: both;
  }
.img {
    margin: 0.625em 0.625em;
    clear: both;
  }
  #listing {
    margin: 1.5em 1.250em 1.250em;

  }
    
  }



